body {
  > #LLQID_liquidContainer {
    @include positionFullWidth(fixed);
    z-index: 999;
    background-color: #000;
  }
}
#LLQID_liquidContainer {
  opacity: 0;
  @include transition(opacity);
  > svg {
    display: none;
  }
}
.LLQID_liquidContainerInner {
  @include absolutecenter;
  width: 5.55rem;
  height: 5.55rem;
  @media (max-width: $screen-xs-max) {
    width: (5.55rem * 2);
    height: (5.55rem * 2);
  }
}
.LLQID_liquidGooeyItems {
  position: relative;
  width: 100%;
  height: 100%;
  .LLQID_liquidGooeyItem {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #ff1654;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

.LLQID_liquidMovingItems {
  @include absolutecenter;
  width: 80%;
  height: 80%;
}
.LLQID_liquidMovingItem {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  .LLQID_liquidMovingShape {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
  }
}

.LLQID_liquidGooeyMsg {
  @include absolutecenter(x);
  top: 100%;
  font-size: 1.2rem;
  animation: loadingMsg 2s infinite;
  opacity: 0;
  margin-top: 1rem;
  @media (max-width: $screen-xs-max) {
    margin-top: (1rem * 2);
    font-size: (1.2rem * 2);

  }
}

.LLQID_liquidBrand {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  img {
    + img {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      opacity: 0;
      transition: 1s;
    }
  }
  &.showText {
    img {
      + img {
        opacity: 1;
      }
    }
    &.brandFlyOut {
      img {
        opacity: 0;
        transform: scale(0);
      }
    }
  }
}

.LLQID_liquidScaleSlow-enter-active {
  transition: transform 1s linear;
}
.LLQID_liquidScale-enter-active {
  transition: transform 0.5s linear;
}
.LLQID_liquidScaleSlow-enter,
.LLQID_liquidScale-enter {
  transform: scale(0);
  opacity: 0;
}

@keyframes loadingMsg {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
}